@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 150vh;
}

.coverpage-card {
    background-color: #ffffff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 25px;
}

.coverpage-heading {
    font-family: "Bree Serif";
    color: #5752ab;
    font-size: 24px;
}

.message-description {
    font-family: "Roboto";
    color: #323f4b;
}

.learnmore-button {
    color: #171f46;
    font-family: "Roboto";
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    width: 126px;
    height: 38px;
    border-style: solid;
    border-color: #d7dfe9;
    border-radius: 10px;
    border-width: 1px;
    margin-right: 5px;

}

.savedraft-button {
    color: #171f46;
    background-color: #5752ab;
    font-family: "Roboto";
    width: 126px;
    border-color: #d7dfe9;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    height: 38px;
    margin-left: 5px;
    border-width: 0px;
}