@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/yoga-bg.png");
    background-size: cover;
    background-color: #ffedcb;
    text-align: center;
    padding: 30px;
}

.yoga-heading{
    font-family: Roboto;
    color: #132d84;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.yoga-girl {
    height: 40vh;
    width: 350px;
    margin-top: 150px;
}

.button{
    background-color: #253263;
    width:130px;
    height:50px;
    color:#fad693;
    border-radius: 10px;
}

.types-yoga{
    background-color: #ffedcb;
    text-align: center;
    padding: 30px;
    /* margin: 30px; */
    
}

.yoga-page-heading{
    font-family: Roboto;
    font-size: 40px;
    color: #132d84;
    padding: 30px;
}

.card-headerers{
    color:#132d84;
    font-family: Roboto;
    font-size: 40px;
    /* background-color: none; */
}

.card-paragraph{
    color:#132d84;
    font-family: Roboto;
    font-size: 25px;
}

.cards{
    background-color: #ffe2ab;
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
}